---
---

.sticky {
    position:sticky;
    top: 3em;
}

.headshot {
    width: 60%;
    border-radius: 50%;
    margin: 0 12.5%;
}
.center-headshot {
    text-align: center;
}

.separation-line {
    display: block;
    font-size: .75em;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 1px solid #f2f3f3;
}

.only-desktop {
    display: none;
}

a.no-style:visited, a.no-style:link {
    text-decoration: inherit;
    color: inherit;
}
  
@media (min-width: 850px) {
    /* Hide the mobile block on large screens */
    .only-mobile {
        display: none;
    }
  
    .only-desktop {
        display: block;
    }
}

.full-size-no-border {
    width: 100%;
    height: 95vh;
    border: none;
}

@media (prefers-dark-interface) {
    
}