---
---

<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/styles.css' | relative_url }}" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css">
    <link rel="icon" type="image/x-icon" href="{{site.baseurl}}/assets/images/favicon.ico" />
    <script src="/assets/js/script.js"></script>
</head>

<body>
    <div class="">
        <div class="only-mobile">
            <nav class="navbar navbar-expand">
                <div class="container-fluid">
                    <a class="navbar-brand" href="/">Nick Staggs</a>
                    <div class="collapse navbar-collapse" id="navbarDropdown">
                        <ul class="navbar-nav">
                            <li class="nav-item dropdown">
                                <button class="btn dropdown-toggle" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    {% assign current_nav = site.data.navigation | where: "link", page.url | first %}
                                    {{ current_nav.name }}
                                </button>
                                <ul class="dropdown-menu">
                                    {% for item in site.data.navigation %}
                                        <li>
                                            <a 
                                                class="dropdown-item" 
                                                href="{{ item.link }}" 
                                                {% if item.external %}target="_blank" rel="noopener noreferrer"{% endif %}>
                                                    {% if item.external %} {{item.icon}}{% endif %} {{ item.name }}

                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="row px-2">
                <div class="col-12 col-md-8 mx-auto">
                    {{ content }}
                </div>
            </div>
        </div>
        <div class="only-desktop">
            <div class="m-3 row">
                <div class="col-2 sidebar">
                    <div class="sticky">
                        <div class="center-headshot">
                            <img class="headshot" src="/assets/images/headshot.jpg">
                        </div>
                        <h2 class="my-4 text-center"><router-link to="/" class="no-style">Nick Staggs</router-link></h2>
                        <p class="my-4">
                            Just your typical coffee addicted software engineer. Exploring the intricacies and whimsies
                            of the web, one cup at a time.
                        </p>
                        <span class="separation-line mt-4 mb-3"></span>
                        <nav>
                            <ul style="list-style-type: none; padding: 0;">
                                {% for item in site.data.navigation %}
                                    <li>
                                        <a href="{{ item.link }}" class="no-style" {% if page.url == item.link %}style="font-weight: bold;" {% endif %} {% if item.external %}target="_blank" rel="noopener noreferrer"{% endif %}>
                                            {% if item.external %} {{item.icon}}{% endif %} {{ item.name }}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-7 mx-auto">
                    {{ content }}
                </div>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"></script>
</body>

</html>
